body{
    background-color: #d02e26
}

.header-container-dow-nl{
    background-image: url(../img/designer-outlets-wolfsburg-newsletter.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

nav{
    
}

.logo{
    position: fixed;
    visibility: hidden;
}

.back-wrapper{
    position: absolute;
    left: 10%;
    margin: auto;
    max-width: 900px;
    top: 30px;
}

h1{
    color: #a22927;
    text-shadow: unset;
}

h2{
    text-shadow: unset;
}
.back-icon{
    display: inline-block;
    width: 20px;
    transform: translate(0,0) scale(1);
    animation: backani .6s ease-in-out infinite paused;
    animation-direction: alternate;
}

@keyframes backani{
    from{transform: translate(0,0) scale(1)}
    to{transform: translate(-7px,0) scale(1)}
}

.backfont{
    display: inline-block;
    transform: translate(0,-13px);
}

@media (min-width: 1040px){
    .logo{
        position: fixed;
        transform: rotate(-90deg) translate(0,-175px);
        top: 25%;
        visibility: unset;
    }    
}

@media (max-width:500px){
    .back-wrapper{
        left: 3%;
    }
}

@media (max-width:400px){
    .backfont{
        visibility: hidden;
    }
    .back-icon{
        transform: translate(5px,0) scale(0.8);
        left: 10%;
        animation: unset;
    }
}