@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

body{
    background-color: #0e9b9b;
}

.header-container{
    background-image: url(../img/smart-mobility/02CarryBay.png);
    background-position: center center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

p{
    color: white;
    text-shadow: unset;
}

h1{
    color:teal;
    text-shadow: unset;
}

h2{
    text-shadow: unset;
}

h3{
    text-shadow: unset;
}

h4,h5{
    text-align: center;
    font-size: 1rem;
    margin: .5em;
}

/*Content*/

.content{
    margin-top: 70px;
}

.images{
    padding: .7em;
}

.work-grid-smart{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    max-width: 900px;
    margin: 0 auto 1em auto;
 }

 .project > span > img:hover{
    transform: unset;
}

.project-text{
    background-color: teal;
}

.margin-bottom{
    margin-bottom: 1em;
}

.onerow{
    font-weight: 300;
    grid-column: 1/3;
    line-height: 1.35;
}

.threecolumns{
    column-count: 3;
}

.loesung{
    margin: 1em 0 0 0;
    font-size: 1.3rem;
}

.firstsubline{
  margin-bottom: 0;
}

.onerowfirst{
    padding: 0.5em 0.5em 0 0.5em;  
}

.kursiv{
    font-style: italic;
}

p{
    display: inline;
}

.background-img{
    height: 100%
}

@media (max-width:920px){

    .project,.project-text{
        grid-column: 1/3;
    }
    .work-grid-smart{
        
        grid-row-gap: 0em;
    }
    .project-text{
        margin-bottom: 1em;
    }
}

@media (max-width:920px){
    .threecolumns{
        column-count: 2;
        margin-top: 1em; 
    }
}
@media (max-width:690px){
    .threecolumns{
        column-count: 1;
    }
}

.kreuzung-vid>h4{
    text-align: unset;
    margin: unset;
}
.kreuzung-vid>h5{
    text-align: unset;
    margin: unset;
}

.einzeilig{
    grid-template-columns: 1fr;
    grid-row-gap: 0;
}

@media (max-width:920px){
    .einzeilig, .work-grid-smart{
    margin: 0 auto 0 auto;
    }
    .work-grid-smart{
    margin: 0 auto 0 auto;
    }
}

.project > span >img{
    width: 100%;
    transition: unset;
    z-index: 0;
}

.project > span > img:hover{
    transform: unset;
}