@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

body{
    background-color: #911645;
}

.logo{
    position: fixed;
    visibility: hidden;
}

.back-wrapper{
    position: absolute;
    left: 10%;
    margin: auto;
    max-width: 900px;
}

h1{
    color: #7a123a;
    text-shadow: none;
}

h2{
    text-shadow: unset;
}

.back-icon{
    display: inline-block;
    width: 20px;
    transform: translate(0,0) scale(1);
    animation: backani .6s ease-in-out infinite paused;
    animation-direction: alternate;
}

@keyframes backani{
    from{transform: translate(0,0) scale(1)}
    to{transform: translate(-7px,0) scale(1)}
}

.backfont{
    display: inline-block;
    transform: translate(0,-13px);
}

@media (min-width: 1040px){
    .logo{
        position: fixed;
        transform: rotate(-90deg) translate(0,-175px);
        top: 25%;
        visibility: unset;
    }    
}

@media (max-width:500px){
    .back-wrapper{
        left: 3%;
    }
}

@media (max-width:400px){
    .backfont{
        visibility: hidden;
    }
    .back-icon{
        transform: translate(5px,0) scale(0.8);
        left: 10%;
        animation: unset;
    }
}

.content h1,h2{
    text-align: center;
    color: #fff;
}

.content h1{
    margin: 30px 0 10px 0;
}

.content h2{
    padding-bottom: 1em;
    margin: 0;
}

.textbox-love{
    width: calc(100%-0.5em);
    background-color: #7a123a;
    padding: .25em .5em;
    font-weight: 200;
}

.textbox-love h5,h4{
    color: #fff;
}
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.responsive-video {
    position: relative;
    padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}