@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

body{
    background-color: #d02e26;
}

.header-container-dow-nl{
    background-image: url(../img/designer-outlets-wolfsburg-newsletter.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.back-wrapper{
    top: 0px;
    width: 100%;
    position: fixed;
    padding: 20px 0 12px 10%;
    background-color: #111111;
    z-index: 2;
}


h1,p{
    color: #a22927;
    text-shadow: unset;
}

h2{
    text-shadow: unset;
}

h3{
    text-shadow: unset;
}

h4,h5{
    text-align: center;
    font-size: 1rem;
    margin: .5em;
}
.back-icon{
    display: inline-block;
    width: 20px;
    transform: translate(0,0) scale(1);
    animation: backani .6s ease-in-out infinite paused;
    animation-direction: alternate;
}

@keyframes backani{
    from{transform: translate(0,0) scale(1)}
    to{transform: translate(-7px,0) scale(1)}
}

.backfont{
    display: inline-block;
    transform: translate(0,-13px);
}

@media (max-width:400px){
    .backfont{
        visibility: hidden;
    }
    .back-icon{
        transform: translate(5px,0) scale(0.8);
        left: 10%;
        animation: unset;
    }
}

