@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

body{
    background-color: #d02e26;
}

.header-container-dow-nl{
    background-image: url(../img/designer-outlets-wolfsburg-newsletter.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 70px;
}

p{
    color: white;
    text-shadow: unset;
}

h1{
    color: #a32721;
    text-shadow: unset;
}

h2{
    text-shadow: unset;
}

h3{
    text-shadow: unset;
}

h4,h5{
    font-size: 1rem;
}

.center{
    text-align: center;
}

.back-icon{
    display: inline-block;
    width: 20px;
    transform: translate(0,0) scale(1);
    animation: backani .6s ease-in-out infinite paused;
    animation-direction: alternate;
}

@keyframes backani{
    from{transform: translate(0,0) scale(1)}
    to{transform: translate(-7px,0) scale(1)}
}

.backfont{
    display: inline-block;
    transform: translate(0,-13px);
}

@media (max-width:400px){
    .back-icon{
        transform: translate(5px,0) scale(0.8);
        left: 10%;
        animation: unset;
    }
}

.project-text{
    background-color:#a32721;
}

.project > span > img:hover{
    transform: unset;
}

.kursiv{
    font-style: italic;
}

p{
    display: inline;
}