*{
    margin: 0;
}

html{
    font-size: 100%;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

h1{font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h2{  font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.6);
    letter-spacing: .6em;
    text-transform: uppercase;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0 0 0.1em rgb(0,   0, 0);
    letter-spacing: .2em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 500px){
    h1{
        font-size: 1.3rem;
    }
    h2{
        font-size: 0.8rem;
    }
    h3{
        font-size: 1.2rem;
        letter-spacing: .15em;
    }
}   

.content{
    background-color: #111111;
}

.header-container{
    background-image: url(../img/moonlight.jpg);
    background-position: bottom center;
    background-size: cover;
    height: 100vw;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.work-grid{
   display: grid;
   grid-template-columns: 50% 50%;
   max-width: 900px;
   margin: 0 auto 0 auto;
   padding: .5em;
}

img{
    width: 100%;
}

.project{
    margin: .5em;
}